body {
    padding-top: 20px;
    padding-bottom: 50px;
}

.container-xxl {
    max-width: 1600px;
}

.movie-card {
    margin-bottom: 20px;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.buy-now-btn {
    margin-top: auto;
}

#movieList .col-md-3 {
    margin-bottom: 20px;
}

.model-controls {
    margin-bottom: 20px;
}

.train-model-btn {
    margin-right: 10px;
}

.training-status {
    display: none;
    margin-top: 10px;
}

.training-progress {
    height: 5px;
}

.main {
    padding: 20px;
}
