# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.swp
*.tmp
